---
import { getSession } from "auth-astro/server"

import Intro from "../components/Cerrar-Sesion/Hecho.astro"
import Vote from "../components/Cerrar-Sesion/Seguro.astro"
import Layout from "../layouts/Layout.astro"

const session = await getSession(Astro.request)
---

<Layout
	title="vDx Dashboard"
>
	<main class="flex flex-col items-center justify-center text-white">
		{session === null ? <Intro /> : <Vote user={session.user} />}
	</main>
</Layout>