---
import Card from "./Card.astro"
import { SignIn, SignOut } from 'auth-astro/components'
---
<header>
<h1 class="text-gradient">Hola</h1>
<SignOut>Cerrar Sesion</SignOut>
<script src="../js-css/login"></script>
</header>